<html>
<head>
  <title>Login Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="login.css">
  <script src = "login.js"></script>
</head>

<body>

  <div id = "upper_container">
    <div id = "login_box">
      <div id = "login_heading">Dashboard Login</div>
      <div class = "login_container" id = user_container>
        <div class = "login_text" id = "user_text">Username:</div>
        <div class = "login_field" id = "user_field" contenteditable="true" spellcheck="false"></div>
      </div>
      <div class = "login_container" id = pswd_container>
        <div class = "login_text" id = "pswd_text">Password:</div>
        <div class = "login_field" id = "pswd_field" contenteditable="true" spellcheck="false" > <input type="password" name="pwd" id = "pwd_data"> </div>
      </div>
      <div id = "submit_button">Login</div>
    </div>
  </div>

</body>

</html>
